body {
    background-color: hsl(30, 38%, 92%)
}


.card-body {
   background-color: hsl(0, 0%, 100%);
}

.card-title {
    font-family: 'fraunces', 'sans-serif';
    font-weight: 700;
}

.card-subtitle {
    font-family: 'montserrat', 'sans-serif';
    color: rgb(146, 148, 153);
    letter-spacing: .3rem;
    font-size: 0.8em;
}

.description {
    font-family: 'montserrat', 'sans-serif';
    color: rgb(146, 148, 153);
    font-size: 14px;
}

.price {
    font-family: 'fraunces', 'sans-serif';
    font-weight: 700;
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
}

.discounted-price {
    color: rgb(146, 148, 153);
    font-size: 13px;
}

.btn-primary {
    background-color: hsl(158, 36%, 37%);
    border-color: hsl(158, 36%, 37%);
}

.btn {
    font-family: 'montserrat', 'sans-serif';
    font-weight: 500;
    font-size: 14px
}

.btn:focus {
    background-color: hsl(158, 36%, 37%);
    border-color: hsl(158, 36%, 37%);
}
    
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media (min-width: 500px) {
    section {
        display: none;
    }
}